            <tr>
                <th>
                    <%= link_to order.id, user_order_path(current_user.id,order.id),class:'btn btn-outline-dark' %>
                </th>
                <th>
                    <%= order.created_at.to_s.split(" ")[0].split("-").reverse.join("-") %>
                </th>
                <td>
                    $<%= order.total %>
                </td>
                <td><button class="btn btn-primary" type="button">Processing</button></td>
            </tr>