<h2>Recent Order</h2>
<hr class="my-1">
<% if !(@orders.nil?) %>
<table class="w-100">
    <thead class="bg-secondary">
        <tr>
            <th>Order id</th>
            <th>Order date</th>
            <th>Order Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <%= render partial: "orders/order", collection: @orders %>
    </tbody>
</table>
<% end %>