<div class="card">
<div class="card-title row justify-content-between">
    <p class="product-title"><%= link_to product.product_name, product_path(product.id) %></p>
</div>
<div class="card-body">
 <div class="row justify-content-between">
    <p>Weight</p>
    <p>
    <%= format_weight(product.product_weight) %>
    </p>
  </div>
  <div class="row justify-content-between">
    <p>Price</p>
    <p class="text-danger">$<%= product.product_price %></p>
  </div>
 </div>
</div>