<%= content_for :title, "Shop" %>
<div class="banner   bg-primary shadow  rounded my-2 p-4">
    <h3 class="border bg-light fs-1 rounded border-primary shadow p-3">Welcome to Shopee</h3>
</div>
<div class="my-4">
    <div class="row mx-2">
    <%= render partial: "pages/product", collection: @products %>
    </div>
</div>