/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
}
body {
  padding: 5px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  text-align: center;
  background-color: #ddd;
  padding: 20px 10px;
  color: #3e3e33;
  box-shadow: 1px 1px 2px #333;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  align-items: center;
}
.col {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
.justify-content-between {
  justify-content: space-between;
  align-items: center;
}
.justify-content-center {
  justify-content: center;
  align-items: center;
}
d-block{
  display: block;
}
.container{
  width: 70%;
  margin: auto;
}
.form-control{
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  border-color: transparent;
  box-shadow: 1px 1px 2px black;
  display: block;
}
.btn {
  display: inline-block;
  background: teal;
  color: white;
  font-size: large;
  padding: 10px;
  border-radius: 4px;
  border: transparent;
  text-decoration: none;
  cursor: pointer;
}
.btn-sm {
  display: inline-block;
  background: teal;
  color: white;
  font-size: small;
  padding: 5px;
  border: transparent;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
.border-none {
  border: none;
}
.border-right {
  border-right: 1px solid black;
}
.my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.rounded {
  border-radius: 4px;
}
.bg-danger {
  background-color: #ff0063;
  color: white;
}
.text-danger {
  color: #ff0063;
}
.w-50 {
  width: 50%;
  margin: auto;
}
.p-2 {
  padding: 10px;
}
.fs-5 {
  font-size: large;
}
.my-4 {
  margin: 40px 0;
}
.mt-4 {
  margin-top: 40px;
}
.mx-1 {
  margin: 0 10px;
}
.bg-secondary {
  background-color: grey;
  color: white;
}
.fs-4 {
  font-size: x-large;
}
.my-50 {
  margin: 50px 0px;
}
.text-justify {
  text-align: justify;
}
.product-container {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  padding: 10px;
}
.card {
  width: 31%;
  border: 1px solid black;
  margin: 5px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 4px black;
}
.card-title {
  font-size: large;
  margin: 5px 0px;
}
.card-body {
  border: 2px solid teal;
  border-radius: 4px;
  padding: 4px;
  font-size: large;
}
.w-100 {
  width: 100%;
}
.product-title {
  font-size: x-large;
  text-decoration: none;
}
.cart-container {
  margin: 20px 0px;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
th,
td {
  border-bottom: 1px solid black;
  padding: 10px 0px;
}
.btn-action {
  font-size: large;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0px 10px;
}
.profile_img {
  width: 100px;
  height: 120px;
  box-shadow: 1px 1px 4px black;
  border-radius: 4px;
  padding: 0 10px;
  margin: 10px 0;
}
